In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

suv_data = pd.read_csv("suv_data.csv")
suv_data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
Gen=pd.get_dummies(suv_data['Gender'],drop_first=True)
Gen.head()

   Male
0     1
1     1
2     0
3     0
4     1

In [3]:
suv_data = pd.concat([suv_data,Gen], axis=1)
suv_data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Male
0  15624510    Male   19            19000          0     1
1  15810944    Male   35            20000          0     1
2  15668575  Female   26            43000          0     0
3  15603246  Female   27            57000          0     0
4  15804002    Male   19            76000          0     1

In [4]:
suv_data.drop(['Gender','User ID'],axis =1, inplace=True)

In [5]:
suv_data.head(5)

   Age  EstimatedSalary  Purchased  Male
0   19            19000          0     1
1   35            20000          0     1
2   26            43000          0     0
3   27            57000          0     0
4   19            76000          0     1

In [6]:
x = suv_data.drop('Purchased',axis=1)
y = suv_data['Purchased']

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc = StandardScaler()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [21]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [9]:
from sklearn.linear_model import LogisticRegression

In [22]:
logmodel = LogisticRegression()

In [23]:
logmodel.fit(x_train,y_train)

LogisticRegression()

In [24]:
y_pred = logmodel.predict(x_test)

In [25]:
from sklearn.metrics import classification_report

In [26]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.82      0.88      0.85        72\n           1       0.79      0.71      0.75        48\n\n    accuracy                           0.81       120\n   macro avg       0.80      0.79      0.80       120\nweighted avg       0.81      0.81      0.81       120\n'

In [27]:
from sklearn.metrics import confusion_matrix

In [28]:
confusion_matrix(y_test,y_pred)

array([[63,  9],
       [14, 34]], dtype=int64)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_test,y_pred)

0.8083333333333333